.advantages {
  margin: 0 auto;
  padding-left: 0;
  h2 {
    font-weight: 700;
    font-size: 25px;
    line-height: 30px;
    color: @bg-black;
  }
}

.advantages__list {
  list-style: none;
}

.advantages__item {
  position: relative;
  margin-top: 60px;
  margin-bottom: 30px;

  font-weight: 700;
  font-size: 17px;
  line-height: 20px;
  color: @bg-black;
}

.advantages__item::after {
  .pseudo();
  .size(32px; 37px);
  background-image: url("../img/icon-feature-flower.svg");
}

.advantages__item--money::after {
  .pseudo();
  .size(32px; 37px);
  background-image: url("../img/icon-feature-money.svg");
}

@media (min-width: @tablet-width) {
  .advantages__wrap {
    display: flex;
    justify-content: space-between;
    ul {
      width: 50%;
    }
  }
}
