.advantages {
  h2 {
    margin-bottom: 90px;
    font-weight: 700;
    font-size: 25px;
    line-height: 30px;
    color: @bg-black;
  }
}
.advantages__container {
  padding-left: 30px;
  padding-right: 35px;
}
.advantages__list {
  list-style: none;
}

.advantages__item {
  position: relative;
  margin-bottom: 85px;
  min-height: 40px;

  font-weight: 700;
  font-size: 17px;
  line-height: 20px;
  color: @bg-black;
}

.advantages__item--flower::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 30px;
  margin-bottom: 20px;
  .size(32px; 37px);
  background-image: url("../img/icon-feature-flower.svg");
  background-repeat: no-repeat;
}

.advantages__item--money::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 30px;
  margin-bottom: 20px;
  .size(47px; 27px);
  background-image: url("../img/icon-feature-money.svg");
  background-repeat: no-repeat;
}

.advantages__item--heart::after {
  .pseudo();
  margin-bottom: 20px;
  .size(34px; 27px);
  background-image: url("../img/icon-feature-heart.svg");
}

.advantages__item--ball::after {
  .pseudo();
  margin-bottom: 20px;
  .size(35px; 35px);
  background-image: url("../img/icon-feature-ball.svg");
}

.advantages__item--rocket::after {
  .pseudo();
  margin-bottom: 20px;
  .size(55px; 23px);
  background-image: url("../img/icon-feature-rocket.svg");
}

.advantages__item--gift::after {
  .pseudo();
  margin-bottom: 20px;
  .size(33px; 33px);
  background-image: url("../img/icon-feature-gift.svg");
}

@media (min-width: @tablet-width) {
  h2 {
    margin-bottom: 105px;
  }
  .advantages__wrap {
    display: flex;
    justify-content: space-between;
    ul {
      width: 50%;
    }
  }

  .advantages__item {
    margin-bottom: 115px;
  }

  .advantages__item--flower::after,
  .advantages__item--money::after,
  .advantages__item--heart::after,
  .advantages__item--ball::after,
  .advantages__item--rocket::after,
  .advantages__item--gift::after {
  margin-bottom: 25px;
  }
}
@media(min-width: @desktop-width) {
  .advantages__item {
    margin-bottom: 115px;

    font-weight: 700;
    font-size: 20px;
    line-height: 22px;
  }
}
