.announce {
  position: relative;
  background-image: url("../img/hero-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: top;
  background-color: #f9f9f9;
  background-size: auto;
  h2 {
    color: #010000;
    font-size: 27px;
    font-weight: 700;
    line-height: 30px;
    text-align: center;
  }
  .announce-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    padding-top: 70px;
    min-height: 490px;
  }

  &__button {
    padding: 30px;
    background-color: @bg-aquamarine;
    a {
      display: block;
      max-width: 106px;
      color: #ffffff;
      font-size: 19px;
      font-weight: 700;
      line-height: 24px;
      text-decoration: none;
     }
  }
}

.announce__button:last-of-type {
  background-color: @bg-darkaquamarine;
  a {
    display: block;
    max-width: 106px;
  }
}

.announce__button--lamp {
  background-image: url("../img/icon-interior.svg");
  background-repeat: no-repeat;
  background-position: right 36px bottom 50%;
}

.announce__button--toys {
  background-image: url("../img/icon-toy.svg");
  background-repeat: no-repeat;
  background-position: right 27px bottom 50%;
}

@media (min-width: @tablet-width) {
  .announce {
    background-image: url("../img/hero-tablet@1x.jpg");
    h2 {
      font-size: 43px;
      font-weight: 700;
      line-height: 50px;
      text-align: center;
    }

    .announce-container {
      padding-top: 160px;
      min-height: 746px;
    }

    &__button-wrap {
      display: flex;
    }

    &__button {
      display: flex;
      justify-content: flex-start;
      .offset(0; 0);
      width: 50%;
      align-items: center;
      min-height: 120px;
      background-color: @bg-aquamarine;
      a {
        .size(100%; 100%);
        color: #ffffff;
        font-size: 19px;
        font-weight: 700;
        line-height: 24px;
        text-decoration: none;
       }
     }
  }
}
@media (min-width: @desktop-width) {
  .announce {
    background-image: url("../img/hero-desktop@1x.jpg");
    h2 {
      font-size: 43px;
      font-weight: 700;
      line-height: 50px;
      text-align: center;
    }
    .announce-container {
      min-height: 746px;
    }

    &__button {
      display: flex;
      justify-content: flex-start;
      .offset(0; 0);
      width: 50%;
      align-items: center;
      min-height: 119px;
      background-color: @bg-aquamarine;
      a {
        .size(100%; 100%);
        color: #ffffff;
        font-size: 19px;
        font-weight: 700;
        line-height: 24px;
        text-decoration: none;
       }
     }
  }
}
