.reviews__item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  p {
    font-weight: 400;
    font-size: 15px;
    line-height: 30px;
    color: @bg-greyishbrown;
  }
}

.reviews__author-name {
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  font-style: normal;
  color: @bg-black;
}

.reviews__author-post {
  font-weight: 400;
  font-size: 17px;
  line-height: 30px;
  color: @bg-greyishbrown;
}

.reviews__toggles {
  margin: 0 auto;
  display: flex;
  justify-content: space-between;

  width: 260px;

  svg {
    margin: 15px 40px;
    width: 50px;
    height: 26px;
  }
}

.reviews__prev {
  border: 1 px solid #ececec;
  background-color: #ffffff;
}

.reviews__next {
  border: 1 px solid #ececec;
  background-color: #ffffff;
}

.reviews__btn {
  display: flex;
  justify-content: center;
  margin-top: 40px;

  button {
    margin: 0 auto;
    padding: 20px 80px;
    font-size: 18px;
    line-height: 20px;
    font-weight: 700;
    color: #444444;

    border: 2px solid #444444;
    background-color: #ffffff;
  }
}
