.reviews {
  &__wrapper {
    margin: 0 auto;
    padding-left: 30px;
    padding-right: 30px;
  }
  &__item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    p {
      font-weight: 400;
      font-size: 15px;
      line-height: 30px;
      color: @bg-greyishbrown;
    }
  }
  &__author-name {
    font-weight: 700;
    font-size: 17px;
    line-height: 24px;
    font-style: normal;
    color: @bg-black;
  }
  &__author-post {
    font-weight: 400;
    font-size: 17px;
    line-height: 30px;
    color: @bg-greyishbrown;
  }

  &__toggles {
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    width: 260px;
    svg {
      margin: 15px 40px;
      width: 50px;
      height: 26px;
    }
    &__prev {
      outline: none;
    }
    &__next {
      border-style: none;
      border: none;
    }
  }
}
