body {
 .offset(0; 0);
  width: 320px;
  background-color: #ffffff;
  font-family: "Open Sans", Arial, sans-serif;
  background-color: red;
}

img {
  max-width: 100%;
  height: auto;
}

.page-container {
  .offset(0; auto);
  .size(320px; auto);
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

@media (min-width: @tablet-width) {
  body {
    width: 768px;
    .page-container {
      .size(768px; auto);
  }
}

@media (min-width: @desktop-width) {
  body {
    width: 1150px;
    .page-container {
    .size(1150px; auto);
  }
}

.visually-hidden:not(:focus):not(:active),
  input[type="checkbox"].visually-hidden,
  input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  -webkit-clip-path: inset(100%);

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
