body {
  .offset(0; 0);

  font-family: "Open Sans", "Arial", sans-serif;

  background-color: @bg-white;
}

.container {
  margin: 0 auto;
  padding: 0 30px;
  max-width: 320px;

  @media (min-width: @tablet-width) {
    padding: 0 50px;
    max-width: 772px;
  }

  @media (min-width: @desktop-width) {
    padding: 0 50px;
    max-width: 1150px;
  }
}

*,*::after,*::before {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

* {
  box-sizing: border-box;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
