.main-nav__toggle {
  padding: 0;
  margin-left: 269px;
  margin-top: 32px;

  .size(20px; 14px);

  background-image: url("../img/icon-menu-open.svg");
  border: none;
  background-color: transparent;
}
