.main-nav {
  .offset(0; 0);
}

.main-nav__container {
  position: relative;
  .offset(0; 0);
  .size(260px; 79px);
}

.main-nav__toggle {
  position: absolute;
  right: 0;
  top: 50%;
  margin-top: -7px;

  .size(20px; 14px);

  background-image: url("../img/icon-menu-open.svg");
  border: none;
  background-color: transparent;
}

.main-nav__list {
  .offset(0; 0);
  display: none;
}

@media (min-width: @tablet-width) {
  .main-nav {
    .offset(0; 0);
    width: auto;
    min-height: 155px;
  }

  .main-nav__container {
    .offset(0; 0);
    display: none;
  }

  .main-nav__list {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-wrap: wrap;
    .offset(0; 0);
    width: auto;
    min-height: 155px;
    list-style: none;
  }

  .site-list__item {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    .offset(0; 0);
    .size(auto; 79px);
    background-color: @bg-lightgray;
    flex-grow: 1;
    a {
      font-weight: 700;
      line-height: 24px;
      color: #000000;
      text-decoration: none;
    }
  }

  .site-list__item:last-of-type {
    order: -1;
    width: 400px;
    margin-left: 40%;
    padding-left: 84px;
    background-color: #ffffff;
  }

  .site-list__item:last-of-type::after {
    position: absolute;
    content: "";
    .offset(auto; 0);
    left: 50px;
    .size(88px; 88px);
    background-image: url("../img/icon-search.svg");
    background-repeat: no-repeat;
    background-position: center;
    border-left: 1px solid #ececec;
    border-right: 1px solid #ececec;
  }

  .site-list__item:last-of-type::before {
    position: absolute;
    content: "";
    .offset(0; 0);
    left: 150px;
    .size(21px; 18px);
    background-image: url("../img/icon-cart.svg");
    background-repeat: no-repeat;
  }

  .site-list__item:nth-child(3),
  .site-list__item:nth-child(4),
  .site-list__item:nth-child(5) {
    display: none;
  }

  .site-list__item:nth-child(4) a {
    width: 50%;
    font-weight: 400;
    line-height: 24px;
  }
}

@media (min-width: @desktop-width) {
  .main-nav {
    .offset(0; 0);
    width: auto;
    min-height: 155px;
  }

  .main-nav__list {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    .offset(0; 0);
    width: auto;
    min-height: 155px;
    list-style: none;
    }

    .site-list__item {
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;
      .offset(0; 0);
      .size(234px; 79px);
      background-color: @bg-white;
      a {
        font-weight: 700;
        line-height: 24px;
        color: #000000;
        text-decoration: none;
      }
    }

    .site-list__item:last-of-type::after {
      position: absolute;
      content: "";
      .offset(auto; 0);
      left: 50px;
      .size(88px; 88px);
      background-image: url("../img/icon-search.svg");
      background-repeat: no-repeat;
      background-position: center;
      border-left: 1px solid #ececec;
      border-right: 1px solid #ececec;
    }

    .site-list__item:last-of-type::before {
      position: absolute;
      content: "";
      .offset(0; 0);
      left: 150px;
      .size(21px; 18px);
      background-image: url("../img/icon-cart.svg");
      background-repeat: no-repeat;
    }

    .site-list__item:nth-child(4),
    .site-list__item:nth-child(5) {
      display: flex;
    }

    .site-list__item:nth-child(4) {
      order: 4;
      background-color: @bg-lightgray;
    }

    .site-list__item:nth-child(5) {
      order: 5;
      background-color: @bg-lightgray;
    }

    .site-list__item:nth-child(6) {
      order: 6;
      background-color: #f9f9f9;
    }

    .site-list__item:nth-child(7) {
      .offset(0; 0);
      margin-left: 200px;
      order: 3;
      background-color: #ffffff;
    }

    .site-list__item:nth-child(4) a {
      width: 50%;
      font-weight: 400;
      line-height: 24px;
    }
}
