.offset(@padding; @margin) {
  padding: @padding;
  margin: @margin;
}

.size(@width; @height) {
  width: @width;
  height: @height;
}

.pseudo {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  .offset(0; 0);
  .size(32px; 37px);
  background-image: url("../img/icon-feature-flower.svg");
  background-repeat: no-repeat;
}
