.page-header {
  .offset(0; 0);
  position: relative;

  width: 320px;
  min-height: 80px;

  background-color: #ffffff;
}

.page-header__logo-image {
    position: absolute;
    z-index: 1;
    left: 50%;
    top: 50%;
    margin-left: -43px;
    margin-top: -18px;

    .size(86px; 35px);
}
